<ul class="thumbnails">
	<li class="span10">
		<div class="thumbnail cus_about">
			<h4 style="float:right">Jan 13 2013</h4>
			<div class="row">
				<div class="span2 columns" style="padding-left:50px;padding-top:40px">
					<img src="https://s3.amazonaws.com/btb_images/gigamesh.jpeg" alt="Gigamesh" />
				</div>
				<div class="span6 columns" style="padding-top:120px;padding-bottom:10px">
					<strong><a href='/posts/9' id="cus_title2">Gigamesh & Nu Disco</a></strong>
					<hr style="margin-left:0px;margin-right:0px">
				</div>
			</div>
			<br><br>
			<p class="smalltab">
				My favorite guy Gigamesh just released a re-work of his song Don't Stop, part of his All My Life EP released last year. Gigamesh is master of funky disco remixes, and this one certainly doesn't disappoint. Plus, like many of his songs, it's free to download:
			</p>
			<p class="smalltab">
				<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F74166015"></iframe>
			</p>
			<p class="smalltab">
				And while I'm on the subject, here's a set of my favorite Nu Disco tracks that I compiled last year. There's stuff on there from well-known artists like Oliver, Gigamesh, and Treasure Fingers, as well as some remixes that I found through my searchings on the internet. All free to download as well:

			</p>
			<p class="smalltab">
				<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F2241409"></iframe>
			</p>

			<br><br>
		</div>
	</li>
</ul>