<ul class="thumbnails">
	<li class="span10">
		<div class="thumbnail cus_about">
			<h3 style="text-align:center;margin-top:20px">Why This Site Exists</h3>
			<br><br>
			<p class="tab">So why is this site here? What the hell is Build the Beat?</p>
			<p class="tab">This site is a combination of a few goals that I want to achieve. I want to:</p>
			<p style="margin-left:70px;font-family:Rockwell;text-indent:0px">Learn Ruby on Rails / HTML /CSS
				<br>Introduce my favorite music to the world
				<br>Shed some light on the behind-the-scenes work that's done at EDM Festivals across the world
				<br>Showcase new tech in music production
				<br>Demonstrate how to build your own fancy electronic devices (MIDI controllers/LED displays)
			</p>
			<p class="tab">So it’s a hybrid music-blog-news-tech-info-build-your-own-site-thing. </p>
			<p class="tab">
				As someone who loves both electronic music and electronic gadgets, I was blown away by my first festival, Ultra, in 2010. The scale of the production was absolutely mind-boggling, and I found myself wondering who the people were that labored for weeks or months to design and build these spectacular set pieces.
			</p>
			<p class="tab">
				I built my first controller, a simple 16-button MIDI controller (like the DJ TechTools MIDI Fighter) in the summer of 2011. Designing, wiring, soldering, and programming that controller was one of the most satisfying things I had ever done, especially because when I was done, I had a fully working controller that cost less than half of the price I could have bought it for.
			</p>

			<p class="tab">
				I have a lot of plans for this site, but since I'm building it as I learn, it's going to take a little while. For now, posting music and articles is about all I have time for, but in the future I'll have interviews and step-by-step instructions for building your own cool stuff. 
			</p>
			<p class="smalltab">
				<strong>...More to come soon<strong>
		</div>
	</li>
</ul>