<ul class="thumbnails">
	<li class="span8">
		<div class="thumbnail cus_about">
			<h3>Build It</h3>
			<br>
			<p class="smalltab">Down the road, I'll be adding instructables-esqe directions for building your own electronic gizmos</p>
		</div>
	</li>
</ul>