<!DOCTYPE html>
<html>
	<head>
		<title>Build the Beat</title>
	</head>
	<body>
		<h1>Build the Beat</h1>
		<h3>At the intersection of music and engineering</h3>
		<p>
			Add more stuff here
		</p>
	</body>
</html>