<div class="center hero-unit myunit">
	<br>
	<h1><%=link_to "Build the Beat", root_path, id: "cus_title"%></h1>
	<h2>
		<b>The Intersection of <br>Music and Engineering</b>
	</h2>
</div>

<%= render 'layouts/toolbar' %>

