<ul class="thumbnails">
	<li class="span10">
		<div class="thumbnail cus_about">
			<h4 style="float:right">Sept 24 2012</h4>
			<h3>Gigamesh</h3><br>
			<p class="smalltab" style="border:">Great new stuff from Gigamesh, one of the best french house music producers out there</p>
			<p class="tab">
			<iframe width="75%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F60994951&show_artwork=true"></iframe></p>
		</div>
	</li>
</ul>