<ul class="thumbnails">
	<li class="span10">
		<div class="thumbnail cus_about">
			<h4 style="float:right">Oct 2 2012</h4>
			<h3 style="padding-left:40px;padding-top:20px;padding-bottom:20px"><%=link_to "Three Very Different Remixes", music_path, id: "cus_title2"%></h3><br>
			<p class="smalltab" style="text-indent:0px">
				A few tracks I want to share with you today:
			</p>
			<p class="smalltab">This remix of Peaches "Burst!" by Bart B More (my second favorite of the Boys Noize Records crew) is a great piece of acid-house. Nobody does remixes like the BNR boys:  </p>
			<p class="tab">
				<object height="81" width="100%"> <param name="movie" value="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F60998475&amp;show_comments=true&amp;auto_play=false&amp;color=ff7700"></param> <param name="allowscriptaccess" value="always"></param> <embed allowscriptaccess="always" height="81" src="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F60998475&amp;show_comments=true&amp;auto_play=false&amp;color=ff7700" type="application/x-shockwave-flash" width="100%"></embed> </object>   <span><a href="http://soundcloud.com/boysnoizerecords/burst-bart-b-more-remix">Burst! (Bart B More Remix)</a> by <a href="http://soundcloud.com/boysnoizerecords">Boysnoize Records</a></span>
			</p>
			<p class="smalltab">
				Here's a remix of A-Trak & Dillon Francis' "Money Makin'"-- I hadn't listened to much trap music before but this song's got me on a tear:
			</p>
			<p class="tab">
				<object height="81" width="100%"> <param name="movie" value="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F57087456&amp;show_comments=true&amp;auto_play=false&amp;color=ff7700"></param> <param name="allowscriptaccess" value="always"></param> <embed allowscriptaccess="always" height="81" src="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F57087456&amp;show_comments=true&amp;auto_play=false&amp;color=ff7700" type="application/x-shockwave-flash" width="100%"></embed> </object>   <span><a href="http://soundcloud.com/olivertwizt/a-trak-dillon-francis-money">A-TRAK, DILLON FRANCIS- MONEY MAKIN' (OLIVER TWIZT TRAP MIX)</a> by <a href="http://soundcloud.com/olivertwizt">Olivertwizt</a></span>
			</p>
			<p class="smalltab">
				A little slower disco house track here, it's got a catchy beat that'll wedge itself inside your head. If you like this one, check out His Majesty Andre and Phantom's Revenge on Soundcloud -- you won't be disappointed:
			</p>
			<p class="tab">
				<object height="81" width="100%"> <param name="movie" value="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F57430159&amp;show_comments=true&amp;auto_play=false&amp;color=ff7700"></param> <param name="allowscriptaccess" value="always"></param> <embed allowscriptaccess="always" height="81" src="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F57430159&amp;show_comments=true&amp;auto_play=false&amp;color=ff7700" type="application/x-shockwave-flash" width="100%"></embed> </object>   <span><a href="http://soundcloud.com/nervous-records/lazy-ants-the-phantoms-revenge">Lazy Ants & The Phantom's Revenge - Feeling (His Majesty Andre Remix)</a> by <a href="http://soundcloud.com/nervous-records">Nervous Inc.</a></span>
			</p>
			<br><br>
		</div>
	</li>
</ul>

<ul class="thumbnails">
	<li class="span10">
		<div class="thumbnail cus_about">
			<h4 style="float:right">Sept 24 2012</h4>
			<h3 style="padding-left:40px;padding-top:20px;padding-bottom:20px"><%=link_to "Gigamesh", music_path, id: "cus_title2"%></h3><br>
			<p class="smalltab">Great new stuff from Gigamesh, one of the best french house music producers out there</p>
			<p class="tab">
				<iframe width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F60994951&show_artwork=true"></iframe></p>
			</div>
		</li>
	</ul>