<ul class="thumbnails">
	<li class="span10">
		<div class="thumbnail cus_about">
			<h4 style="float:right">Oct 10 2012</h4>
			<div class="row">
				<div class="span7 columns">
					<h3 style="padding-top:40px;padding-bottom:10px;padding-left:70px">
						<%= link_to	"A New Take On Old Tech", '/news/artists-that-take-their-stage-with-them', id:"cus_title2" %>
					</h3>
				</div>
				<div class="span2 columns" style="padding-top:20px">
					<%= image_tag("reactable_logo.jpg", alt: "Reactable") %>
				</div>		
			</div>
			<hr style="margin-left:50px;margin-right:50px">
			<br><br>
			<p class="smalltab">
				Though it seems like new DJ equipment comes out almost every week, most of the controllers you see fit into the same mold: they all have knobs, faders, buttons, and maybe a jog wheel or two. It’s been a while since someone has created a completely original device for music creation... until this:
			</p>
			<p class="smalltab" style="text-align:center">
				<iframe width="420" height="315" src="http://www.youtube.com/embed/Mgy1S8qymx0" frameborder="0" allowfullscreen></iframe>
			</p>
			<p class="smalltab">
				First introduced to the world back in 2005 by a group of four young guys at a university in Barcelona, the Reactable has picked up a lot of critical acclaim since then. It looks like a lot of fun, and the concept is so radically different that you can’t help but marvel at the simplicity of it (at least on the outside). Just watching the video makes me want to get one of these things and start playing around with it.
			</p>
			<p class="smalltab">
				But as far as adoption by mainstream DJs, the Reactable hasn’t gotten much love. And why would it? Most of the professionals out there are well-practiced on the traditional mixers and controllers, which they are obviously very comfortable using. As fun as it looks, it’s very difficult to imagine Armin van Buuren playing music with a bunch of blocks in front of a crowd of fifty thousand people. It simply doesn’t bring the same energy to the crowd as the standard DJ booth setup. 
			</p>
			<p class="smalltab">
				Now, that isn’t to say that the Reactable is only a fun diversion. As you can see <%= link_to "here", 'http://www.youtube.com/watch?v=lA29AE6O69k'%>, kids can’t get enough of the thing. Now what do you think a ten year old would have a better chance of learning: complex music production software like Ableton or something tangible and interactive like the Reactable? When I was in elementary school, kids learned the classic instruments, like the violin, flute, saxophone, or cello. At the time, I didn’t even know electronic music existed. But with something like this, a new generation of music producers can start experimenting when their minds are even fresher... providing they can afford it.
			</p>
			<p class="smalltab" style="text-align:center">
				<%= image_tag("baby_dj.jpg", alt: "DJ Baby") %>
				<h5 style="text-align:center">Couldn't resist. Do yourself a favor and Google Image search 'DJ Baby'</h5>
			</p>
			<br>
			<p class="smalltab">
				With a price of around $12,000, the Reactable isn’t something most people can readily afford. Though they do make an iPad app, it’s just not the same as having the physical interface. The Reactable is great to play around with, and great for kids, but I don't think you'll be seeing your favorite artist on stage with one in the near future. Although, now that I think of it, I <i>could</i> see Steve Aoki diving off the top of it...
			</p>
			<br><br>
		</div>
	</li>
</ul>