@import "bootstrap";

$graymediumlight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webket-box-sizing: border-box;
  box-sizing: border-box;
}

html 
{
  overflow-y: scroll;
  height:100%;
}

body
{
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: $graymediumlight;
  height:100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
  margin-bottom: 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  margin-top: 0px;
  text-align: center;
  position: relative;
  top: -80px;
  vertical-align: top;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  position: relative;
  top: -70px;
  color: #FFFFFF;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  text-indent:30px;
}

.navbar-inner
 {
background-color: #FFFFFF;
padding-top: 5px;
padding-bottom: 5px;
}



.myunit{
padding-bottom: 100px;
padding-top: 100px;
background-image: url(AW_mirr_08.png);
margin-bottom: 0px;
text-align: top;
}

.cus_about{
  background-color: $grayLight;
}
/* header */
.smalltab{
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 10px;
  font-family: Rockwell;
  font-size: 16px; 
}

.tab{
  text-indent: 0px;
  margin-left: 50px;
  font-family: Rockwell;
  margin-right:100px;
}

#sbar{
  position:absolute;
  left:1075px;
  background-color:#000000
}

#leftbar{
position:absolute;
}

#middlecolumn{
  position:relative;
  left:100px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #7568E9;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* Title Format */

  #cus_title{
    font: Helvetica, Arial, sans-serif;
    font-style: 900px;
    font-size: 1em;
    /*text-transform: uppercase;*/
    vertical-align: top;
    color: #FFFFFF;
    letter-spacing: -1px;
    &:hover{
      color: #FFFFFF;
      text-decoration: none;
    }

  }

#cus_title2{
    font: Helvetica, Arial, sans-serif;
    font-style: 900px;
    font-size: 24px;
    /*text-transform: uppercase;*/
    vertical-align: top;
    color: #000000;
    letter-spacing: -1px;
    &:hover{
      color: #FFFFFF;
      text-decoration: none;
    }
  }
/*Home*/


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $graymediumlight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover{
      color: $grayDarker;
    }
    }
    small {
      float: left;
    }
    ul {
      float: right;
      list-style: none;
      li{
        float: left;
        margin-left: 10px;
      }
    }
  }

/* Misc */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Sidebar */

aside {
  section{
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}