<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">

    </ul>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="span3">
        <small>
          <address>
            <p align="left">
              <strong>Address:</strong><br>
              Chris Kudlack<br>
              1446 Cambridge St, Apt 2<br>
              Cambridge, MA 02139<br>
            </p>
          </address>
        </small>
      </div>

      <div class="span3">
        <small>
          <address>
            <p align="left">
              <strong>Email:</strong><br>
              <a href="mailto:buildthebeat@outlook.com">buildthebeat@outook.com</a>
            </p>
          </address>
        </small>
      </div>
    </div>
  </div>
</footer>