<footer class="footer">
  <small>
    Build The Beat... a creation of Chris Kudlack (add link)
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Music", music_path %></li>
      <li><%= link_to "Build", build_path %></li>
    </ul>
  </nav>
</footer>