  <footer class="footer">
    <small>
      <address>
        <p align="left">
          <strong>Build the Beat</strong><br>
          1446 Cambridge St, Apt 2<br>
          Cambridge, MA 02139<br>
        </p>
      </address>

      <address>
        <p align="left">
          <strong>Chris Kudlack</strong><br>
          <a href="mailto:#">buildthebeat@outook.com</a>
        </p>
      </address>
    </p>
  </small>
</footer>