<br>
<br>
<%= link_to "Login", posts_path %>
<h4 style="color:#FFFFFF;text-align:center">
	<br><br><br>Twitter: <br><br><br><a href="https://twitter.com/buildthebeat" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false">Follow @buildthebeat</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>

</h4>