<div class="container">
	<div class="navbar">
		<div class="navbar-inner">
			<ul class="nav">
				<li class="active"><%= link_to "Home", root_path %></li>
				<li><%= link_to "Music", music_path %></li>
				<li><%= link_to "Build", build_path %></li>
				<li><%= link_to "About", about_path %></li>
			</ul>
		</div>
	</div>
</div>
